body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #222831;
}

div {
  background-color: #222831;
}
hr{
  color: #393e46;
}
h1 {
  color: #EEEEEE;
  font-size:3rem ; /*100%  -- 16px -- 1em  550% is big enough*/
  width: 40%;
  margin: 55px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #EEEEEE;
  font-size: 2rem;
  font-weight:normal;
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  color: #00adb5;
  font-family: 'Montserrat', sans-serif;
}

p {
  color:#EEEEEE;
}

/* margin : four margin will be set */
.top-container {
  background-color: #222831;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  /*background-color: #EEEEEE;*/
}

.bottom-container {
  /*background-color: #00adb5;*/
}

.sub-head{
  margin-bottom: 0;
  color: #EEEEEE;
}

.bottom-cloud {
  position: absolute;
  left: 20%;
  bottom: 55%;
}

.head-cloud {
  position: absolute;
  right: 20%;
  top: 10%;
}
.skill-row{
  margin:70px auto 70px auto;
  width:50%;
  text-align:left;
  line-height: 2;
}
.course-row{
  margin:70px auto 70px auto;
  width:50%;
  text-align:left;
  line-height: 2;
}
.skill-description{
  margin-bottom: 0;
}
.profile{
  padding-top: 10px;
  margin:0 auto 0 auto;
  width :70%;
}
.skill-image{
  float:left;
  width:25%;
  margin-right: 30px;
}
.hobby-image{
  float:right;
  width:25%;
  margin-left: 30px;
}
.course-image{
  float:left;
  width:28%;
  margin-right: 30px;
}
.free-contact{
  color : #00adb5;
  padding-top: 20px;
}

.footer-link{
  padding: 0rem 1rem;
}

.social-network-icon{
  height: 30px;
}

.footer-para{
  padding-top: 10px;
  color: grey;
  font-size: 10px;
}
